@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Vitta.Models.Usuario

<h2>Editar Usuário</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <div>
        <label>Nome:</label>
        <input asp-for="Nome" />
    </div>
    <div>
        <label>Email:</label>
        <input asp-for="Email" type="email" />
    </div>
    <div>
        <label>Objetivo:</label>
        <input asp-for="Objetivo" />
    </div>

    <button type="submit">Atualizar</button>
    <a asp-action="Index">Cancelar</a>
</form>
